<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our  <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/patient.webp" alt=""><br>
            <i class="fas fa-notes-medical"></i>
            <h3>In Patient Department</h3>
            <p>The inpatient department starts from the fourth and the fifth floors where we house the twin and the multiple bed sharing rooms.
                               . </p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
        </div>

        <div class="box">
            <img src="assets/download1.jpg" alt="">
            <i class="fas fa-user-md"></i>
            <h3>Cafeteria</h3>
            <p>At Happy Space's Hospital, you can visit two different cafeterias.

                Ground floor cafeteria is run by the ISS catering services that also cater to the hospital. </p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->

        </div>

        <div class="box">

            <img src="assets/download2.jpg" alt=""><br>
            <i class="fas fa-ambulance"></i>
            <h3>Ambulance services</h3>
            <p>The hospital has a well equipped ambulances. The basic task here is to retrieve emergency cases from the proximity areas of the hospital. </p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
        </div>

        <div class="box">
            <img src="assets/download3.jpg" alt="">
            <i class="fas fa-pills"></i>

            <h3>Pharmacy</h3>
            <p>The main pharmacy store is located at the hospital basement whereas the day and night retail pharmacy is located at the ground floor. </p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
        </div>

        <div class="box">
            <img src="assets/images 1.jpg" alt="">
            <i class="fas fa-procedures"></i>
            <h3>Day care</h3>
            <p>Day care complex is on the 10th Floor. There are 9 beds with high end electronic monitoring systems. There is a dedicated team of highly trained nurses who manage the department. It has its own change room and is operational from 8 am to 8 pm.



                Pain Clinic Patients.</p>
            <!-- <a href=""></a>  -->
        </div>

        <div class="box">
            <img src="assets/download5.jpg" alt="">
            <i class="fas fa-heartbeat"></i>
            <h3>family launge</h3>
            <p>
                Floor 11 has a family lounge that is meant for the patient and relatives to spend time together socially, read newspapers, surf the net and have tea or coffee. The view is breathtaking..</p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
        </div>

    </div>

</section>

<!-- services section ends -->
